body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    width: 100%;
}

#controls {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.85);
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    max-width: 350px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#toggle-controls {
    align-self: flex-end;
    margin-bottom: 5px;
    width: 100%;
}

.control-item {
    display: flex;
    width: 100%;
    margin-bottom: 4px;
    align-items: center;
}

.control-label {
    flex: 5;
    padding-right: 2px;
}

.control-input {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, select, button {
    width: calc(100% - 5px);
    padding: 2px;
}

select, button {
    width: calc(100% + 3px);
}

#progress {
    margin: 20px;
    text-align: center;
}

#progressBar {
    width: 100%;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    #controls {
        top: 25px;
        right: 15px;
        width: calc(100% - 110px);
        max-width: 300px;
        padding: 5px;
        font-size: 10px;
    }

    h1 {
        font-size: 10px;
        text-align: center;
        margin: 5px;
    }

    .control-item {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .control-label, .control-input {
        width: 100%;
    }

    button {
        width: 100%;
    }

    #control-content {
        width: 100%;
    }
}
